pandas
numpy
scikit-learn
matplotlib
tensorflow>=2.11
joblib
scipy
streamlit
torch

#to install all the libraries type this in terminal
#copy and paste 
#python -m pip install -r requirements.txt
#type pip list to check install libraries