streamlit==1.29.0
protobuf==3.20.3

pandas
numpy
matplotlib
plotly
scikit-learn
tensorflow
torch


#to install all the libraries type this in terminal
#copy and paste 
#python -m pip install -r requirements.txt
#type pip list to check install libraries